
#Instagram-logo {
	width: 80%;
	margin-left: 10%;}

body{
	background-color:  #ca70a5;

}

.principal{
	background: #f77fd3;
	padding: 30px;
}	

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: justify;
}

#missao {
	font-size: 20px
}

em strong {
	color: #ff89ce;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #ff97cb;
	padding: 20px;
	text-align: justify;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	text-align: justify;
}

#instagramrosa{
	width: 50%;
}
